{% extends 'layout.html' %}

{% set title = 'OmniKiosk - Preview' %}

{% block main %}
<div style="margin-top: 10%; margin-left: 25%; margin-right: 25%">
    <div id="preview_carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            {% for img in images %}
            <div class="carousel-item {{ 'active' if loop.index == 1 else '' }}">
                <img class="d-block w-100" src="data:image/jpeg;base64, {{ img['FileData'] }}">
                <div>Page {{ loop.index }}</div>
            </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#preview_carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#preview_carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <a class="btn btn-primary" href="{{ url_for('payment') }}">Payment Method</a>
</div>
{% endblock %}